body{
    margin: 0px;
    padding: 0px;
}

#main{
    width: 950px;
    margin: auto auto;
}

#content{
    float: right;
    width: 420px;
    background: #93B9FF;
    height: 560px; /* I hate CSS */
    padding-left: 10px;
}

#htmlsnippet {
    width: 800px;
    font-size: 10px;
}

#bbcode {
    width: 800px;
    font-size: 10px;
}

#oldcode {
    font-family: monospace;
    white-space: pre;
    overflow: scroll;
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 190px;
    width: 406px;
    z-index: 10;
}


#code {
    width: 400px;
    height: 290px;
}

#left{
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    float: left;
    width: 520px;
    height: 560px;
    background: #5370C0;
    border-style: solid;
    border-color: #5370C0;
}

#canvas {
    margin: 10px 10px 10px 10px;
}

#textOutput {
    margin: 10px 0 10px 0;
    position: absolute;
    font-size: 20px;
    background-color: transparent;
}

#turtle  {
    margin: 10px 0 10px 0;
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 20px;
    background-color: transparent;
}
#notes {
    clear: left;
    width: 946px;
    border: 2px solid black;
    height: 1000px;
}

#footer{
    clear: left;
    width: 950px;
    margin: 0px;
    padding: 0px;
    background: black;
    text-align: center;
}

#recent ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#recent ul li {
    padding: 10px;
    display: inline; 
    vertical-align: middle;
}

#recent ul li a { text-decoration: none; }

#recent ul li a img { border: none; }
#recent{
    clear: left;
    width: 100%;
    background: white;
    color: #FFF;
    text-align: center;
    border-style: solid;
    border-color: black;
}

#footer a{
    color: #FFFF80;
}

